.sidebar ul a:hover {
    background-color: #d4e6f4;
    border-left: 5px solid #2986cc;
    border-radius: 5px;
    cursor: pointer;
    li {
        span {
            color: #2986cc;
        }
        svg {
            color: #2986cc;
        }
    }
}

.active-side {
    background-color: #d4e6f4;
    border-left: 5px solid #2986cc;
    border-radius: 5px;
}

.blue {
    color: #2986cc;
}

.gray {
    color: #4c4c4c;
}