@import "../index.scss";
.register {
    background: $primary;
    min-height: 100vh;
}

.basket-icon {
    color: $primary;
}

.img-bg {
    background-color: indigo;
    border-radius: 25px 0 0 25px;
}