.card-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-img {
    height: 150px;
    width: 150px;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}